@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">MvcMovie</h1>
    <p>A simple <a href="https://docs.microsoft.com/aspnet/core">ASP.NET Core MVC</a> app about movies.</p>
</div>
